# Specify Python version
python_version >= 3.10

# Core libraries
numpy==1.24.2
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2

# Environment variable handling
python-dotenv==1.0.0

# Supabase client
supabase==1.0.3
